<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892538388011-1cm6sgtdh2s3q9ckqh6fpgigam5n53ng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892538388011-1cm6sgtdh2s3q9ckqh6fpgigam5n53ng</string>
	<key>API_KEY</key>
	<string>AIzaSyChNdhKfjSpNqJEyZh4znVy0mV-OhlQlgk</string>
	<key>GCM_SENDER_ID</key>
	<string>892538388011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter30</string>
	<key>PROJECT_ID</key>
	<string>yolofirebase-db9c4</string>
	<key>STORAGE_BUCKET</key>
	<string>yolofirebase-db9c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892538388011:ios:083cc1327b138f4b9a346e</string>
</dict>
</plist>